body{
  font-family: sans-serif;
  background: rgba(255, 166, 0, 0.36);
  margin: 0;
  padding: 0;
}

/* Global font-size change for screens less than or equal to 1200px */
@media (max-width: 768px) {
  body {
    font-size: 30px;
  }
}
